* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(218, 59, 63, 0) 15.06%, #da3b3f 100%),
    linear-gradient(179.29deg, #cf2425 11.93%, rgba(207, 36, 37, 0) 99.39%);
  mix-blend-mode: normal;
}

.menu {
  display: flex;
  width: 97px;
  height: 19px;
  margin-left: 5vw;
  margin-top: 5vh;
}

header img {
  width: 36px;
  height: 16px;
}

header p {
  width: 41px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-left: 20px;
}

.background {
  background-image: url("./img/coca-cola-background.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  position: absolute;
  width: 1291px;
  height: 636px;
}

.garrafa-coca-cola {
  position: absolute;
  width: 201px;
  height: 755px;
  left: 620px;
  top: 72px;
}

.text-main {
  position: absolute;
  width: 212px;
  height: 88px;
  left: 384px;
  top: 408px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #ffffff;
}

.coca-cola {
  position: absolute;
  width: 201px;
  height: 755px;
  left: 620px;
  top: 72px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 64px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.mapa-global {
  width: 64px;
  height: 34.48px;
}

footer p {
  width: 45px;
  height: 14px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
