* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1440px;
  height: 900px;
  background: linear-gradient(180deg, rgba(218, 59, 63, 0) 15.06%, #da3b3f 100%),
    linear-gradient(179.29deg, #cf2425 11.93%, rgba(207, 36, 37, 0) 99.39%);
  mix-blend-mode: normal;
}

.menu {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 36px;
  height: 16px;
  left: 75px;
  top: 41px;
}

.menu-burguer {
  position: absolute;
  width: 36px;
  height: 16px;
  left: 75px;
  top: 41px;
}

.linha1 {
  position: absolute;
  width: 24px;
  height: 0px;
  left: 75px;
  top: 41px;

  border: 2px solid #ffffff;
}

.linha2 {
  position: absolute;
  width: 24px;
  height: 0px;
  left: 75px;
  top: 57px;

  border: 2px solid #ffffff;
}

.linha3 {
  position: absolute;
  width: 36px;
  height: 0px;
  left: 75px;
  top: 49px;

  border: 2px solid #ffffff;
}

.text-header {
  position: absolute;
  width: 41px;
  height: 19px;
  left: 131px;
  top: 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #ffffff;
}

.fundo-coca-cola {
  position: absolute;
  width: 1291px;
  height: 636px;
  left: 74px;
  top: 132px;
}

.garrafa-coca-cola {
  position: absolute;
  width: 201px;
  height: 755px;
  left: 620px;
  top: 72px;
}

.text-main {
  position: absolute;
  width: 212px;
  height: 88px;
  left: 384px;
  top: 408px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: right;

  color: #ffffff;
}

.coca-cola {
  position: absolute;
  width: 201px;
  height: 755px;
  left: 620px;
  top: 72px;
}

.mapa-global {
  position: absolute;
  width: 64px;
  height: 34.48px;
  left: 1301px;
  top: 812px;
}

footer p {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-style: medium;
  font-size: 12px;
  color: #ffffff;
  left: 1313px;
  top: 850px;
}
