* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(218, 59, 63, 0) 15.06%, #da3b3f 100%),
    linear-gradient(179.29deg, #cf2425 11.93%, rgba(207, 36, 37, 0) 99.39%);
  overflow-x: hidden;
}

.menu {
  display: flex;
  width: 97px;
  height: 19px;
  margin-left: 5vw;
  margin-top: 5vh;
}

header img {
  width: 36px;
  height: 16px;
}

header p {
  width: 41px;
  height: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-left: 20px;
}

main {
  background-image: url("./img/coca-cola-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  flex-grow: 8;
}

.garrafa-coca-cola {
  width: 201px;
  height: 755px;
}

main p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: right;
  color: #ffffff;
}

footer {
  position: absolute;
  right: 5vw;
  bottom: 10vh;
}

@media (max-width: 768px) {
  .garrafa-coca-cola {
    width: 40vw;
    height: 65vh;
  }

main{
  background-size: 100vw;
  margin-top: 8vh;
  flex-direction: column;
  gap: 16px;
}

  main p {
    width: 100px;
    font-size: 16px;
    text-align: center;
  }
}
